.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.smallCardsRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}